testdata/
backup/
_BORRAR/
bin/
temp/
test/

*.rar
*.zip
*.gz
*.log
*.txt
*.sql_
*.xlsx
*.csv
*.exe
*.dll
*.sym
*.jar
*.out
*.unl
*.odt
*.unl
*.bad
*.clw
*.CLW
*.prof
.vscode
config.xml
sandbox/oracle/test/BASIC_LITE_README
sandbox/testcfg/ExpSQL.xml
expSQL/UNLs/BADs/Citas.bad
expSQL/SQLs/IDDPAC.sql_
*_BORRAR
*_ORIGINALES
